.banner {
    background-image: url("/assets/Rectangle 209.png");
    padding: 50px 0px;
    margin-top: 85px;
    width: 100%;
    overflow: hidden;

}
.home{
    text-decoration: none;
        font-weight: 600;
        color: black;
  }
.background {
    background-image: url("/assets/background001.png");
    max-width: 100%;
    padding-bottom: 60px;
    /* padding-top: 60px; */
    background-position: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.subheading{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #00378a;
    padding-bottom: 20px;
    padding-top: 20px;
}
.heading {
    font-size: 26px;
    font-weight: bold;
    text-align: start;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;

}
.secondHeading{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;

}

.heading_one {
    font-size: 30px;
    text-align: center;
    line-height: inherit;
    font-weight: bold;
    color: black;
}

.pera {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mt_150 {

    align-self: center;
    margin-top: -190px;
    text-align: end;
}
.ta_center{
 
    text-align: center;
    font-weight: bold;
    color: black;
}
.colorback{
   background:  linear-gradient(to bottom,#ffffff 0%,#e2f0fb 36%);
   padding-bottom: 30px;
}
.home:hover{
    font-size: 16px;
    background: -webkit-linear-gradient(rgb(236, 62, 255), rgb(19, 180, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .sub_content{
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
  }




/* media queries */
@media screen and (max-width: 770px) {

    .title {
        font-size: 20px;
        text-align: start;
        font-weight: bold;
        color: black;
    }

    .breadcrumb {
        font-size: 10px;
        text-align: start;

    }

    .heading_one {
        font-size: 20px;
        padding-top: 30px;

    }

    .pera {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .heading {
        font-size: 20px;
        text-align: center;


    }

    .mt_150 {
        display: none;
    }

}

@media screen and (max-width: 1200px) {
    .mt_150 {
        margin-top: -175px;
        text-align: end;
    }
}

@media screen and (max-width: 992px) {
    .mt_150 {
        margin-top: -125px;
        text-align: end;
    }
}